<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="assets/bootstrap-3.0.2/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="assets/bootstrap-3.0.2/css/bootstrap-theme.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="assets/simplon-form.default.css">
</head>
<body>

<div class="container">

    <div class="row">

        <div class="col-md-12">
            {{#form:hasError}}
                {{value}}
            {{/form:hasError}}

            {{#form:open}}

                <div class="panel panel-default">
                    <div class="panel-body">

                        <fieldset class="group-separator">
                            <div class="form-group">
                                {{#city:label}}
                                    {{value}}
                                {{/city:label}}

                                {{#city:element}}
                                    {{value}}
                                {{/city:element}}

                                {{#city:error}}
                                    {{value}}
                                {{/city:error}}
                            </div>
                        </fieldset>

                        <fieldset class="group-separator">
                            <div class="form-group row">
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    {{#name:label}}
                                        {{value}}
                                    {{/name:label}}

                                    {{#name:element}}
                                        {{value}}
                                    {{/name:element}}

                                    {{#name:error}}
                                        {{value}}
                                    {{/name:error}}
                                </div>

                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    {{#lastname:label}}
                                        {{value}}
                                    {{/lastname:label}}

                                    {{#lastname:element}}
                                        {{value}}
                                    {{/lastname:element}}

                                    {{#lastname:error}}
                                        {{value}}
                                    {{/lastname:error}}
                                </div>
                            </div>
                        </fieldset>

                        <fieldset class="group-separator">
                            <div class="form-group row">
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    {{#password:label}}
                                        {{value}}
                                    {{/password:label}}

                                    {{#password:element}}
                                        {{value}}
                                    {{/password:element}}

                                    {{#password:error}}
                                        {{value}}
                                    {{/password:error}}
                                </div>

                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    {{#password-control:label}}
                                        {{value}}
                                    {{/password-control:label}}

                                    {{#password-control:element}}
                                        {{value}}
                                    {{/password-control:element}}

                                    {{#password-control:error}}
                                        {{value}}
                                    {{/password-control:error}}
                                </div>
                            </div>
                        </fieldset>

                        <fieldset class="group-separator">
                            <div class="form-group">
                                {{#address:label}}
                                    {{value}}
                                {{/address:label}}

                                {{#address:element}}
                                    {{value}}
                                {{/address:element}}

                                {{#address:description}}
                                    {{value}}
                                {{/address:description}}

                                {{#address:error}}
                                    {{value}}
                                {{/address:error}}
                            </div>
                        </fieldset>

                        <fieldset class="group-separator">
                            <div class="form-group">
                                {{#country:label}}
                                    {{value}}
                                {{/country:label}}

                                {{#country:element}}
                                    {{value}}
                                {{/country:element}}

                                {{#country:error}}
                                    {{value}}
                                {{/country:error}}
                            </div>
                        </fieldset>

                        <div class="form-group">
                            {{#agreed:label}}
                                {{value}}
                            {{/agreed:label}}

                            {{#agreed:element}}
                                <div>
                                    {{value}}
                                </div>
                            {{/agreed:element}}

                            {{#agreed:description}}
                                {{value}}
                            {{/agreed:description}}

                            {{#agreed:error}}
                                {{value}}
                            {{/agreed:error}}
                        </div>
                    </div>

                    <div class="panel-footer">
                        {{#submit:element}}
                            {{value}}
                        {{/submit:element}}

                        {{#cancel:element}}
                            {{value}}
                        {{/cancel:element}}
                    </div>
                </div>

            {{/form:open}}
        </div>

    </div>
</div>

<script src="assets/jquery-2.0.3.min.js"></script>
<script src="assets/bootstrap-3.0.2/js/bootstrap.min.js"></script>

</body>
</html>