.simplon-form fieldset.group-separator
{
    padding-bottom: 12px;
    margin-bottom: 25px;
    border-bottom: 1px dashed #CCC;
}

.simplon-form fieldset.group-separator:last-of-type
{
    margin: 0;
    border: 0;
    padding: 0;
}

.simplon-form fieldset.group-separator ul
{
    margin: 0;
}

.simplon-form ul
{
    padding-top: 5px;
}

.simplon-form label.checkbox,
.simplon-form label.radio
{
    margin: 0;
    padding: 0 0 0 20px;
}