.rd-container
{
    z-index: 999;
}

.rd-month-label
{
    border-radius: 4px;
    background: #EEE;
    padding: 4px;
    margin-bottom: 4px;
}

.rd-back,
.rd-next
{
    position: absolute;
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    margin: 2px 0 0;
    padding: 0;
}

.rd-back
{
    left: 35px;
}

.rd-next
{
    right: 35px;
}

.rd-day-head
{
    padding: 10px;
}

.rd-day-disabled,
.rd-day-disabled:hover
{
    background: none;
    cursor: default;
    color: #FFD9CC;
}

.rd-day-body
{
    cursor: pointer;
    text-align: center;
    padding: 4px 6px;
}

.rd-day-body:hover
{
    border-radius: 4px;
    background: #CFE;
    color: #333;
}

.rd-day-selected,
.rd-time-selected,
.rd-time-option:hover
{
    cursor: pointer;
    background-color: #CEF;
    color: #333;
    border-radius: 3px;
}

