.rd-container
{
    z-index: 999;
    border: 1px solid #CCC;
    border-radius: 3px;
    box-shadow: 0 0 10px #EEE;
}

.rd-month-label
{
    border-radius: 4px;
    background: #EEE;
    padding: 4px;
    margin-bottom: 4px;
}

.rd-back,
.rd-next
{
    position: absolute;
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    margin: -2px 0 0;
    padding: 0;
}

.rd-back
{
    left: 35px;
}

.rd-next
{
    right: 35px;
}

table.rd-days
{
    margin: 0;
}

th.rd-day-head
{
    padding: 8px;
    text-align: center;
    width: 32px;
}

tr.rd-days-row:last-child td
{
    border: 0;
}

.rd-day-disabled,
.rd-day-disabled:hover
{
    background: none;
    cursor: default;
    color: #FFD9CC;
}

td.rd-day-body
{
    cursor: pointer;
    text-align: center;
    padding: 8px;
}

td.rd-day-body:hover
{
    border-radius: 3px;
    background: #CFE;
    color: #333;
}

.rd-day-selected,
.rd-time-selected
{
    cursor: pointer;
    background-color: #CEF;
    color: #333;
    border-radius: 3px;
}

.rd-time
{
    width: 328px;
    font-size: 22px;
}

.rd-time-list
{
    position: relative;
}

.rd-time-option
{
    float: left;
    width: 82px;
    padding: 5px 0;
    font-size: 16px;
    background: #FFF;
    border-bottom: 1px solid #EEE;
}

.rd-time-option:hover
{
    cursor: pointer;
    color: #333;
    background-color: #CFE;
}