.float-label
{
    position: relative;
    margin-bottom: 20px;
}

.float-label label
{
    position: absolute;
    top: 0;
    left: 30px;
    font-size: 11px;
    color: #AAA;
    transition: all 0.1s linear;
    opacity: 0;
}

.float-label label.on
{
    color: #4481C4;
}

.float-label label.show
{
    top: -10px;
    opacity: 1;
}

body
{
}