body
{
    margin-top: 30px;
}

fieldset.group-separator
{
    padding-bottom: 12px;
    margin-bottom: 25px;
    border-bottom: 1px dashed #CCC;
}

fieldset.group-separator ul
{
    margin: 0;
}

ul.rule-error-messages
{
    padding-top: 15px;
    font-size: 17px;
}

ul.rule-error-messages-select
{
    padding-top: 7px;
}